flow.json
[{"id":"161249b8.a7e6be","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1143fb94.c35b94","type":"tcp in","z":"161249b8.a7e6be","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":290,"y":300,"wires":[["7badd665.b65278"]]},{"id":"7badd665.b65278","type":"function","z":"161249b8.a7e6be","name":"filter received","func":"const inputString = msg.payload;\n\nif (inputString.startsWith(\"PUB\")) {\n    msg.payload = inputString;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["9593de86.315ea8","b99c42d0.c7fb38"]]},{"id":"9593de86.315ea8","type":"debug","z":"161249b8.a7e6be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":80,"wires":[]},{"id":"d9057056.439d68","type":"mqtt out","z":"161249b8.a7e6be","name":"","topic":"channels/2250515/publish","qos":"0","retain":"","broker":"d3fa694e.2660b","x":1310,"y":300,"wires":[]},{"id":"b99c42d0.c7fb38","type":"function","z":"161249b8.a7e6be","name":"format for ThingSpeak","func":"inputString = msg.payload\n\nconst regex = /PUB: topic ([^,]+), payload ([^ ]+)/;\nconst match = inputString.match(regex);\n\n    const topic = match[1];\n    const payload = match[2];\n\n    const formattedTopic = parseInt(topic) + 1;\n    const formattedPayload = payload;\n\n    const outputString = `field${formattedTopic}=${formattedPayload}&status=MQTTPUBLISH`;\n\n\nmsg.payload = outputString\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["54a40e7.1e2e2f","9d236763.e00c98"]]},{"id":"54a40e7.1e2e2f","type":"debug","z":"161249b8.a7e6be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":80,"wires":[]},{"id":"9d236763.e00c98","type":"delay","z":"161249b8.a7e6be","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":300,"wires":[["d9057056.439d68"]]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"ASk4KiI5FwkEISoXBDY0JjI","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
